
$color-primary: #403F3D;
$color-accent: #B0907A;
$color-secondary: #E1D4C9;
$color-dark-brown: #665F55;
$color-light-border:#C1B6AD;
$color-modal-background: #4e4d4a;

.color-dark{
    color: #403F3D;
}
.color-primary{
    color: #403F3D;
}
.color-accent{
    color: #B0907A;
}
.color-secondary{
    color: #E1D4C9;
}
.color-tertuary{
    color: #665F55;
}
.bg-color-brown{
    background-color: $color-dark-brown;
}