.lines{
  // padding: 0 2px;
  width: 400px;
  position: relative; 
}
.top-line {
    width: 350px;
    border-top: 21px solid black;
    position:relative;
  }

.horizontal-line{
  border-left: 21px solid black;
  height: 586px;
  width: 6px;
  position:relative;
}

.diagnol-line{
  width: 140px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 30%;
  border-top: 20px solid black;
  transform: rotate(-45deg);
}

.small-line{
  border-left: 11px solid black;
  height: 100px;
  width: 3px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 85%;
}
.bottom-line{
  width: 100%;
  border-top: 2px solid black;
}
.game-title{
  font-size: 2rem;
  font-weight: 700;
  padding: 20px;
}